# Desafio 7DaysofCode Python Pandas
## Empréstimos dos acervos do sistema de bibliotecas da UFRN

### Importação empréstimos do acervo

In [19]:
# Importando biblioteca Pandas
import pandas as pd
import glob

In [30]:
# Importando base de dados de empréstimos dos 1º e 2º semestres dos anos de 2010 a 2020
lista_base = []
for arquivos in glob.glob(r"D:\Downloads\Desafio\*.csv"):
    lista_base.append(arquivos)
lista_base

['D:\\Downloads\\Desafio\\emprestimos-20101.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20102.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20111.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20112.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20121.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20122.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20131.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20132.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20141.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20142.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20151.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20152.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20161.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20162.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20171.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20172.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20181.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20182.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20191.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20192.csv',
 'D:\\Downloads\\Desafio\\emprestimos-20201.csv']

In [33]:
# Juntando as bases
listas = []
for arquivos in lista_base:
    listas.append(pd.read_csv(arquivos,index_col=0))
    
listas

[              codigo_barras                 data_renovacao  \
 id_emprestimo
 709684              L095049                            NaN
 709685              L167050                            NaN
 709686           2006017618  2010/01/26 08:07:01.738000000
 709687              L184117  2010/01/18 11:07:46.470000000
 709684              L095049                            NaN
 ...                     ...                            ...
 919377              C019571                            NaN
 919379              C019573                            NaN
 919381              C020714                            NaN
 919382              C020845                            NaN
 919431              Y011015                            NaN

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 709684         2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
 709685         2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
 709686         2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
 709687         2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
 709684         2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
 ...                                      ...                            ...
 919377         2010/05/28 13:12:45.000000000  2010/05/28 17:42:02.000000000
 919379         2010/03/05 13:26:50.000000000  2010/04/08 18:52:47.000000000
 919381         2010/06/17 20:30:58.000000000  2010/06/24 10:51:23.000000000
 919382         2010/03/11 15:08:05.000000000  2010/03/11 17:24:24.000000000
 919431         2010/06/17 08:12:48.000000000  2010/06/30 07:34:08.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 709684               2.008023e+09      ALUNO DE GRADUAÇÃO
 709685               2.008023e+09      ALUNO DE GRADUAÇÃO
 709686               2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
 709687               2.007211e+08      ALUNO DE GRADUAÇÃO
 709684               2.008023e+09      ALUNO DE GRADUAÇÃO
 ...                           ...                     ...
 919377               1.687161e+06                 DOCENTE
 919379               1.687161e+06                 DOCENTE
 919381               1.687161e+06                 DOCENTE
 919382               1.687161e+06                 DOCENTE
 919431               2.010204e+09  ALUNO DE PÓS-GRADUAÇÃO

 [95357 rows x 6 columns],
                              codigo_barras                 data_renovacao  \
 id_emprestimo
 799100         S025602_19/11/2013 10:51:34                            NaN
 799101                          2008049500                            NaN
 799102                             X008043                            NaN
 799103                          2009055438  2010/07/14 18:35:35.042000000
 799104                             S024636  2010/07/16 21:29:43.569000000
 ...                                    ...                            ...
 920241                          2010049629  2011/01/14 15:59:20.653000000
 920242                          2003005918                            NaN
 920243                          2008015977                            NaN
 920244                             S023356                            NaN
 920245                             S024938                            NaN

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 799100         2010/07/01 07:45:41.111000000  2010/07/07 10:52:31.000000000
 799101         2010/07/01 08:08:17.690000000  2010/07/01 09:03:44.000000000
 799102         2010/07/01 08:13:31.574000000  2010/07/09 15:14:44.000000000
 799103         2010/07/01 08:22:46.085000000  2010/07/29 14:59:16.000000000
 799104         2010/07/01 08:40:28.512000000  2010/07/28 07:49:32.000000000
 ...                                      ...                            ...
 920241         2010/12/30 15:40:46.929000000  2011/02/01 16:28:43.000000000
 920242         2010/12/30 16:03:29.379000000  2011/01/03 11:43:41.000000000
 920243         2010/12/30 16:28:10.564000000  2011/01/25 15:10:52.000000000
 920244         2010/12/30 16:52:19.743000000  2011/01/14 10:33:20.000000000
 920245         2010/12/30 16:52:19.891000000  2011/01/14 10:33:04.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 799100               2.009050e+09      ALUNO DE GRADUAÇÃO
 799101               2.010056e+09      ALUNO DE GRADUAÇÃO
 799102               2.009043e+09      ALUNO DE GRADUAÇÃO
 799103               2.009054e+09      ALUNO DE GRADUAÇÃO
 799104               2.009054e+09      ALUNO DE GRADUAÇÃO
 ...                           ...                     ...
 920241               2.010065e+09      ALUNO DE GRADUAÇÃO
 920242               2.011112e+09  ALUNO DE PÓS-GRADUAÇÃO
 920243               2.010106e+09  ALUNO DE PÓS-GRADUAÇÃO
 920244               2.008000e+09      ALUNO DE GRADUAÇÃO
 920245               2.008000e+09      ALUNO DE GRADUAÇÃO

 [100696 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 920246              Y019450                            NaN
 920247              Y020420                            NaN
 920248              S020100  2011/01/17 23:31:17.992000000
 920249              S024844  2011/01/17 23:31:17.944000000
 920250              S026026  2011/01/17 23:31:17.915000000
 ...                     ...                            ...
 1028826             L202351                            NaN
 1028827          2011018916  2011/07/12 16:41:07.283000000
 1028828             C022409                            NaN
 1028829          2010066057  2011/07/12 14:44:39.108000000
 1028830             C005472                            NaN

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 920246         2011/01/03 08:08:18.986000000  2011/01/14 08:36:10.000000000
 920247         2011/01/03 08:08:19.077000000  2011/01/14 08:36:27.000000000
 920248         2011/01/03 08:48:20.360000000  2011/01/18 12:37:26.000000000
 920249         2011/01/03 08:48:20.433000000  2011/02/07 17:46:44.000000000
 920250         2011/01/03 08:48:20.483000000  2011/01/18 12:37:43.000000000
 ...                                      ...                            ...
 1028826        2011/06/30 21:28:31.517000000  2011/07/15 15:13:25.000000000
 1028827        2011/06/30 21:32:29.681000000  2011/07/15 07:04:36.000000000
 1028828        2011/06/30 21:33:21.073000000  2011/07/15 07:21:03.000000000
 1028829        2011/06/30 21:52:07.627000000  2011/08/26 21:11:24.000000000
 1028830        2011/06/30 21:57:11.605000000  2011/07/04 20:05:49.000000000

                matricula_ou_siape             tipo_vinculo_usuario
 id_emprestimo
 920246               2.010071e+09               ALUNO DE GRADUAÇÃO
 920247               2.010071e+09               ALUNO DE GRADUAÇÃO
 920248               1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
 920249               1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
 920250               1.636623e+06  SERVIDOR TÉCNICO-ADMINISTRATIVO
 ...                           ...                              ...
 1028826              2.010028e+09               ALUNO DE GRADUAÇÃO
 1028827              2.008039e+09               ALUNO DE GRADUAÇÃO
 1028828              2.007388e+08               ALUNO DE GRADUAÇÃO
 1028829              2.006112e+08               ALUNO DE GRADUAÇÃO
 1028830              2.011202e+09           ALUNO DE PÓS-GRADUAÇÃO

 [108547 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1028831          2011018942                            NaN
 1028832          2007009824  2011/07/13 14:30:22.933000000
 1028833          2007009936  2011/07/13 14:30:22.883000000
 1028834          2009055437                            NaN
 1028835          2010093874                            NaN
 ...                     ...                            ...
 1149744             L133454                            NaN
 1149745          2008053028  2012/01/30 09:07:40.289000000
 1149746          2008053053  2012/01/30 09:06:19.941000000
 1149747          2010066523  2012/01/15 19:06:56.012000000
 1149748          2011039654  2012/01/30 20:39:45.804000000

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 1028831        2011/07/01 07:25:27.592000000  2011/07/01 18:58:29.000000000
 1028832        2011/07/01 07:46:01.133000000  2011/07/28 09:27:13.000000000
 1028833        2011/07/01 07:46:01.203000000  2011/07/22 08:24:33.000000000
 1028834        2011/07/01 07:52:18.019000000  2011/07/19 13:30:34.000000000
 1028835        2011/07/01 07:52:18.102000000  2011/07/19 13:30:47.000000000
 ...                                      ...                            ...
 1149744        2011/12/30 17:38:05.838000000  2012/01/30 13:38:38.000000000
 1149745        2011/12/30 17:42:51.232000000  2012/02/29 13:39:55.000000000
 1149746        2011/12/30 17:42:51.274000000  2012/02/13 14:28:37.000000000
 1149747        2011/12/30 17:46:47.021000000  2012/01/19 11:30:36.000000000
 1149748        2011/12/30 18:21:00.366000000  2012/03/02 16:44:11.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 1028831              2.011026e+09      ALUNO DE GRADUAÇÃO
 1028832              2.009072e+09      ALUNO DE GRADUAÇÃO
 1028833              2.009072e+09      ALUNO DE GRADUAÇÃO
 1028834              2.010065e+09      ALUNO DE GRADUAÇÃO
 1028835              2.010065e+09      ALUNO DE GRADUAÇÃO
 ...                           ...                     ...
 1149744              2.010211e+09  ALUNO DE PÓS-GRADUAÇÃO
 1149745              1.755267e+06                 DOCENTE
 1149746              1.755267e+06                 DOCENTE
 1149747              2.011056e+09      ALUNO DE GRADUAÇÃO
 1149748              2.011114e+09  ALUNO DE PÓS-GRADUAÇÃO

 [120813 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1149749          2010094241  2012/01/17 06:11:08.245000000
 1149750          2011033432  2012/01/17 06:11:08.211000000
 1149751          2011077429  2012/01/17 06:11:08.172000000
 1149752          2011012082  2012/01/15 12:58:34.433000000
 1149753          2007030983  2012/01/17 10:10:25.514000000
 ...                     ...                            ...
 1282495          2010061915  2012/07/30 11:11:03.756000000
 1282496          2012010297                            NaN
 1282497             L154726  2012/07/12 20:35:02.433000000
 1282498             L156466                            NaN
 1282499          2008040082                            NaN

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 1149749        2012/01/02 07:43:45.619000000  2012/01/31 11:38:29.000000000
 1149750        2012/01/02 07:43:45.673000000  2012/01/31 11:38:12.000000000
 1149751        2012/01/02 07:43:45.718000000  2012/01/31 11:38:44.000000000
 1149752        2012/01/02 08:26:07.711000000  2012/01/30 08:49:35.000000000
 1149753        2012/01/02 08:31:42.179000000  2012/02/06 17:17:51.000000000
 ...                                      ...                            ...
 1282495        2012/06/28 19:05:46.770000000  2012/08/22 15:26:45.000000000
 1282496        2012/06/28 19:05:46.811000000  2012/07/03 10:45:50.000000000
 1282497        2012/06/28 19:06:52.388000000  2012/08/07 13:35:38.000000000
 1282498        2012/06/28 19:06:52.433000000  2012/07/04 12:26:37.000000000
 1282499        2012/06/28 19:45:49.207000000  2012/07/04 13:24:14.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 1149749              2.009039e+09      ALUNO DE GRADUAÇÃO
 1149750              2.009039e+09      ALUNO DE GRADUAÇÃO
 1149751              2.009039e+09      ALUNO DE GRADUAÇÃO
 1149752              2.009063e+09      ALUNO DE GRADUAÇÃO
 1149753              2.011051e+09      ALUNO DE GRADUAÇÃO
 ...                           ...                     ...
 1282495              2.011213e+09  ALUNO DE PÓS-GRADUAÇÃO
 1282496              2.011213e+09  ALUNO DE PÓS-GRADUAÇÃO
 1282497              2.011056e+09      ALUNO DE GRADUAÇÃO
 1282498              2.011056e+09      ALUNO DE GRADUAÇÃO
 1282499              2.010057e+09      ALUNO DE GRADUAÇÃO

 [132606 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1282500          2009037511                            NaN
 1282501          2010073018                            NaN
 1282502          2012009920                            NaN
 1282503          2012010334                            NaN
 1282504          2007013584  2012/08/06 23:03:54.648000000
 ...                     ...                            ...
 1399982          2007019525                            NaN
 1399983          2008005472  2013/01/14 14:44:23.946000000
 1399984          2008014858  2013/01/14 14:44:23.889000000
 1399985             L171962  2013/01/14 14:44:23.831000000
 1399986             L196808  2013/01/13 16:32:45.624000000

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 1282500        2012/07/02 08:46:50.254000000  2012/07/02 08:47:51.000000000
 1282501        2012/07/02 09:11:58.745000000  2012/09/06 20:38:14.000000000
 1282502        2012/07/02 09:11:58.808000000  2012/09/06 20:38:17.000000000
 1282503        2012/07/02 09:11:58.876000000  2012/09/06 20:38:22.000000000
 1282504        2012/07/02 09:11:59.409000000  2012/09/06 17:05:49.000000000
 ...                                      ...                            ...
 1399982        2012/12/28 19:06:33.704000000  2013/01/08 15:19:56.000000000
 1399983        2012/12/28 19:14:41.885000000  2013/02/04 20:48:23.000000000
 1399984        2012/12/28 19:14:41.931000000  2013/02/04 20:48:08.000000000
 1399985        2012/12/28 19:14:41.968000000  2013/02/04 20:48:26.000000000
 1399986        2012/12/28 19:15:57.242000000  2013/01/16 19:13:49.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 1282500              2.011101e+09  ALUNO DE PÓS-GRADUAÇÃO
 1282501              2.008011e+09      ALUNO DE GRADUAÇÃO
 1282502              2.008011e+09      ALUNO DE GRADUAÇÃO
 1282503              2.008011e+09      ALUNO DE GRADUAÇÃO
 1282504              2.011110e+09  ALUNO DE PÓS-GRADUAÇÃO
 ...                           ...                     ...
 1399982              2.012945e+09      ALUNO DE GRADUAÇÃO
 1399983              2.012967e+09      ALUNO DE GRADUAÇÃO
 1399984              2.012967e+09      ALUNO DE GRADUAÇÃO
 1399985              2.012967e+09      ALUNO DE GRADUAÇÃO
 1399986              2.009015e+09      ALUNO DE GRADUAÇÃO

 [117431 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1399987          2007022885                            NaN
 1399988             Y017748                            NaN
 1399989          2010085755                            NaN
 1399990          2011062415  2013/02/01 11:25:03.172000000
 1399991          2011023440                            NaN
 ...                     ...                            ...
 1535177          2011077915                            NaN
 1535178          2013015283                            NaN
 1535179          2010080663  2013/07/15 20:04:56.745000000
 1535180             Y007023  2013/07/15 20:04:56.658000000
 1535181             Y021249  2013/07/15 20:04:56.549000000

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 1399987        2013/01/02 08:57:46.976000000  2013/01/08 16:35:08.000000000
 1399988        2013/01/02 09:59:32.818000000  2013/01/17 08:58:34.000000000
 1399989        2013/01/02 09:59:32.870000000  2013/01/17 08:58:41.000000000
 1399990        2013/01/02 10:22:22.676000000  2013/02/18 15:32:23.000000000
 1399991        2013/01/02 10:22:22.725000000  2013/01/04 09:55:07.000000000
 ...                                      ...                            ...
 1535177        2013/06/28 16:10:20.048000000  2013/07/01 13:42:12.000000000
 1535178        2013/06/28 16:11:15.966000000  2013/07/01 13:42:02.000000000
 1535179        2013/06/28 16:47:34.593000000  2013/07/30 20:07:38.000000000
 1535180        2013/06/28 16:47:34.664000000  2013/07/30 20:14:44.000000000
 1535181        2013/06/28 16:47:34.723000000  2013/07/30 20:15:06.000000000

                matricula_ou_siape    tipo_vinculo_usuario
 id_emprestimo
 1399987              2.010118e+09  ALUNO DE PÓS-GRADUAÇÃO
 1399988              2.012905e+09      ALUNO DE GRADUAÇÃO
 1399989              2.012905e+09      ALUNO DE GRADUAÇÃO
 1399990              2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO
 1399991              2.012111e+09  ALUNO DE PÓS-GRADUAÇÃO
 ...                           ...                     ...
 1535177              2.012908e+09      ALUNO DE GRADUAÇÃO
 1535178              2.009061e+09      ALUNO DE GRADUAÇÃO
 1535179              2.012903e+09      ALUNO DE GRADUAÇÃO
 1535180              2.012903e+09      ALUNO DE GRADUAÇÃO
 1535181              2.012903e+09      ALUNO DE GRADUAÇÃO

 [135090 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1535182             E002010                            NaN
 1535183          2010049079  2013/07/16 17:25:10.615000000
 1535184          2011013154  2013/07/16 21:03:55.928000000
 1535185          2011001485  2013/07/16 21:03:55.802000000
 1535186          2012038972  2013/07/16 17:51:37.835000000
 ...                     ...                            ...
 1670344          2010029617                            NaN
 1670347          2008046871                            NaN
 1670348          2011033605                            NaN
 1670349          2008046870                            NaN
 1670350          2011033600                            NaN

                              data_emprestimo                 data_devolucao  \
 id_emprestimo
 1535182        2013/07/01 07:47:13.765000000  2013/08/06 20:28:21.000000000
 1535183        2013/07/01 07:47:23.170000000  2013/07/18 09:50:26.000000000
 1535184        2013/07/01 07:54:01.549000000  2013/07/30 08:39:22.000000000
 1535185        2013/07/01 07:54:01.611000000  2013/07/17 08:56:58.000000000
 1535186        2013/07/01 08:23:51.535000000  2013/07/31 13:51:11.000000000
 ...                                      ...                            ...
 1670344        2013/09/06 14:50:00.526000000  2013/09/06 14:51:39.000000000
 1670347        2013/09/06 14:51:35.143000000  2013/09/06 14:55:10.000000000
 1670348        2013/09/06 14:51:35.272000000  2013/09/06 14:54:42.000000000
 1670349        2013/09/06 14:56:37.681000000  2013/09/06 14:59:04.000000000
 1670350        2013/09/06 14:56:37.801000000  2013/09/06 14:59:11.000000000

                matricula_ou_siape tipo_vinculo_usuario
 id_emprestimo
 1535182              2.012320e+09  ALUNO MÉDIO/TÉCNICO
 1535183              2.009007e+09   ALUNO DE GRADUAÇÃO
 1535184              2.011018e+09   ALUNO DE GRADUAÇÃO
 1535185              2.011018e+09   ALUNO DE GRADUAÇÃO
 1535186              2.011093e+09   ALUNO DE GRADUAÇÃO
 ...                           ...                  ...
 1670344              2.012960e+09   ALUNO DE GRADUAÇÃO
 1670347              2.060776e+06              DOCENTE
 1670348              2.060776e+06              DOCENTE
 1670349              2.060776e+06              DOCENTE
 1670350              2.060776e+06              DOCENTE

 [124196 rows x 6 columns],
               codigo_barras                 data_renovacao  \
 id_emprestimo
 1659526             Y018631                            NaN
 1659527          2011018134  2014/02/02 18:59:52.193000000
 1659528          2013011501  2014/02/02 18:59:51.423000000

In [48]:

base_final_emprestimo = pd.concat(listas)
base_final_emprestimo

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
id_emprestimo,,,,,,
709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...
2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

### Removendo duplicatas

In [52]:
base_final_emprestimo = base_final_emprestimo.drop_duplicates()
base_final_emprestimo

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
id_emprestimo,,,,,,
709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...
2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

### Tratando valores nulos

In [53]:
# Identificando valores nulos
base_final_emprestimo.isnull().sum()

codigo_barras                 0
data_renovacao          1285709
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape         3170
tipo_vinculo_usuario          0
dtype: int64

In [55]:
# Excluí coluna por entender que não será relevante para a análise
base_final_emprestimo = base_final_emprestimo.drop("matricula_ou_siape", axis = 1)
base_final_emprestimo

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario
id_emprestimo,,,,,
709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,ALUNO DE GRADUAÇÃO
709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,ALUNO DE GRADUAÇÃO
709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,ALUNO DE PÓS-GRADUAÇÃO
709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,ALUNO DE GRADUAÇÃO
709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...
2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,ALUNO DE PÓS-GRADUAÇÃO
2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,ALUNO DE PÓS-GRADUAÇÃO

In [73]:
# Identificando os tipos dos dados
base_final_emprestimo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2257981 entries, 709684 to 2989090
Data columns (total 5 columns):
 #   Column                Dtype
---  ------                -----
 0   codigo_barras         object
 1   data_renovacao        object
 2   data_emprestimo       object
 3   data_devolucao        object
 4   tipo_vinculo_usuario  object
dtypes: object(5)
memory usage: 167.9+ MB

In [57]:
# Por entender que nem todos renovam o empréstimo, foi incluído o valor 0 na coluna data da renovação
base_final_emprestimo['data_renovacao'].fillna(0, inplace = True)
base_final_emprestimo

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario
id_emprestimo,,,,,
709684,L095049,0,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,ALUNO DE GRADUAÇÃO
709685,L167050,0,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,ALUNO DE GRADUAÇÃO
709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,ALUNO DE PÓS-GRADUAÇÃO
709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,ALUNO DE GRADUAÇÃO
709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...
2989086,2008047044,0,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989087,2008047047,0,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989088,2010052905,0,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989089,2010048023,0,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,ALUNO DE PÓS-GRADUAÇÃO
2989090,2013106838,0,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,ALUNO DE PÓS-GRADUAÇÃO

In [60]:
# Por entender que alguns não devolvem o empréstimo ou ainda está no prazo de para devolução, foi incluído o valor 0 na coluna data da devolucao
base_final_emprestimo['data_devolucao'].fillna(0, inplace = True)
base_final_emprestimo

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario
id_emprestimo,,,,,
709684,L095049,0,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,ALUNO DE GRADUAÇÃO
709685,L167050,0,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,ALUNO DE GRADUAÇÃO
709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,ALUNO DE PÓS-GRADUAÇÃO
709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,ALUNO DE GRADUAÇÃO
709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...
2989086,2008047044,0,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989087,2008047047,0,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989088,2010052905,0,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,SERVIDOR TÉCNICO-ADMINISTRATIVO
2989089,2010048023,0,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,ALUNO DE PÓS-GRADUAÇÃO
2989090,2013106838,0,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,ALUNO DE PÓS-GRADUAÇÃO

In [61]:
# Verificando se sobraram valores nulos
base_final_emprestimo.isnull().sum()

codigo_barras           0
data_renovacao          0
data_emprestimo         0
data_devolucao          0
tipo_vinculo_usuario    0
dtype: int64

### Importando base dos exemplares do acervo

In [35]:
acervo = pd.read_parquet(r"D:\Downloads\Desafio\dados_exemplares.parquet")
acervo

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

In [62]:
# Verificando se há valores nulos na base
acervo.isnull().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

In [64]:
# Verificando se há valores duplicados na base
acervo = acervo.drop_duplicates()
acervo

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

### Mesclando as duas bases em um único Dataframe

In [69]:
base_final = pd.merge(base_final_emprestimo, acervo, on = 'codigo_barras', how = 'inner')
base_final

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,L095049,0,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,L167050,0,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,L167050,0,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...
2072517,2009036492,0,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2014062640,0,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2018003324,0,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2006024313,0,2020/03/17 20:47:18.741000000,0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2018031352,0,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443

In [70]:
# Verificando se após a mesclagem das base foram gerados valores nulos
base_final.isnull().sum()

codigo_barras           0
data_renovacao          0
data_emprestimo         0
data_devolucao          0
tipo_vinculo_usuario    0
id_exemplar             0
colecao                 0
biblioteca              0
status_material         0
localizacao             0
registro_sistema        0
dtype: int64

In [71]:
# Base final com a mesclagem dos dois datasets
base_final

,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,L095049,0,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,L167050,0,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,L167050,0,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...
2072517,2009036492,0,2020/03/17 19:49:10.187000000,2020/12/03 08:12:20.000000000,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072518,2014062640,0,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072519,2018003324,0,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072520,2006024313,0,2020/03/17 20:47:18.741000000,0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072521,2018031352,0,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443